<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/startuplog.css">
    <title>Startup Login Form</title>
</head>
<body>
    <h1>Startup Login Form</h1>
    <form action="/home1" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br><br>
        <input type="submit" value="Login">
    </form>
    <p>Not registered yet? <a href="/startupreg">Register here</a>.</p>
</body>
</html>
