<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/start.css">
    <title>UnicornFodder</title>
</head>
<body>
    <h2>UnicornFodder</h2>
    <div class="main">
        <div class="investor">
            <a href="/investorlog">INVESTOR</a>
        </div>
        <div class="startup">
            <a href="/startuplog">STARTUP</a>
        </div>
    </div>
</body>
</html>