/* normalize image size */
.navbar-img {
    margin-left: 50px;
    height: 35px;
    width: 35px;
  }
  
.nav-link-logout{
  margin-left: 1030px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
}
